/* Main Elements */
/* line 2, ../sass/_spotify.scss */
body {
  font-family: 'Lucida Grande',Tahoma,Calibri,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.584;
  color: #222;
  background-color: #ecebe8;
}

/* line 10, ../sass/_spotify.scss */
a {
  color: #333;
}

/* line 14, ../sass/_spotify.scss */
h1 {
  font-size: 40px;
}

/* line 18, ../sass/_spotify.scss */
h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 23, ../sass/_spotify.scss */
h1, h2, h3, h4, h5, h6, .hdr-xxl, .hdr-xl, .hdr-l, .hdr-m, .hdr-sm, .hdr-xsm {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: #343434;
}

/* line 30, ../sass/_spotify.scss */
.description {
  font-size: 1.2em;
}

/* line 34, ../sass/_spotify.scss */
.reference {
  padding: 0.5em 0;
  font-size: .9em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* line 41, ../sass/_spotify.scss */
#wrapper {
  position: relative;
  max-width: 800px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* line 43, ../sass/_spotify.scss */
section {
  position: relative;
  overflow: hidden;
  margin: 0 0 40px;
}

/* line 45, ../sass/_spotify.scss */
.breadcrumb {
  list-style: none;
  padding: 0;
}

/* line 50, ../sass/_spotify.scss */
body::before {
  content: '.';
  /*background: url('/img/spotify-logo.png') no-repeat top right;*/
  width: 400px;
  height: 400px;
  top: 0;
  right: 0;
  position: absolute;
  opacity: 0.2;
}

/* Text */
/* line 62, ../sass/_spotify.scss */
ul {
  margin: 0 0 20px;
}

/* Player */
/* line 65, ../sass/_spotify.scss */
#player {
  min-height: 140px;
}

/* line 66, ../sass/_spotify.scss */
#player .sp-player {
  float: left;
  margin-right: 10px;
}

/* line 67, ../sass/_spotify.scss */
#player .sp-list {
  width: inherit;
  max-height: inherit;
}

/* Drop Box */
/* line 70, ../sass/_spotify.scss */
#drop-box {
  border: 4px dashed #333;
  width: 100%;
  height: 200px;
  padding: 10px;
}

/* line 71, ../sass/_spotify.scss */
#drop-box.over {
  opacity: 0.8;
  border-color: #74c043;
}

/* Buttons */
/* line 74, ../sass/_spotify.scss */
.buttons button {
  margin: 0 20px 0 0;
}

/* line 76, ../sass/_spotify.scss */
body, html {
  overflow: visible !important;
}

/* line 78, ../sass/_spotify.scss */
code {
  -webkit-user-select: auto;
}

/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.2
 */
/* line 7, ../sass/_github.scss */
pre {
  border: 1px solid #ccc;
  word-wrap: break-word;
  padding: 6px 10px;
  line-height: 19px;
  margin-bottom: 20px;
}

/* line 15, ../sass/_github.scss */
code {
  border: 1px solid #eaeaea;
  margin: 0px 2px;
  padding: 0px 5px;
  font-size: 12px;
}

/* line 22, ../sass/_github.scss */
pre code {
  border: 0px;
  padding: 0px;
  margin: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 31, ../sass/_github.scss */
pre, code {
  font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
  color: #333;
  background: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 40, ../sass/_github.scss */
pre, pre code {
  font-size: 13px;
}

/* line 44, ../sass/_github.scss */
pre .comment {
  color: #998;
}

/* line 48, ../sass/_github.scss */
pre .support {
  color: #0086B3;
}

/* line 52, ../sass/_github.scss */
pre .tag, pre .tag-name {
  color: navy;
}

/* line 56, ../sass/_github.scss */
pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
  font-weight: bold;
}

/* line 60, ../sass/_github.scss */
pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
  color: #333;
}

/* line 64, ../sass/_github.scss */
pre .constant.numeric, pre .keyword.unit, pre .hex-color {
  font-weight: normal;
  color: #099;
}

/* line 69, ../sass/_github.scss */
pre .entity.class {
  color: #458;
}

/* line 73, ../sass/_github.scss */
pre .entity.id, pre .entity.function {
  color: #900;
}

/* line 77, ../sass/_github.scss */
pre .attribute, pre .variable {
  color: teal;
}

/* line 81, ../sass/_github.scss */
pre .string, pre .support.value {
  font-weight: normal;
  color: #d14;
}

/* line 86, ../sass/_github.scss */
pre .regexp {
  color: #009926;
}

/* line 4, ../sass/main.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* overrides */
/* line 30, ../sass/main.scss */
body, html {
  margin: 0;
  height: 100%;
  color: #a1a3a6;
  overflow: hidden;
}

/* line 40, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 44, ../sass/main.scss */
#view_container {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #1c1c1f;
}
/* line 50, ../sass/main.scss */
#view_container .view {
  height: 100%;
}

/* line 55, ../sass/main.scss */
.sp-throbber-background {
  background-color: #ecebe8;
}

/* line 59, ../sass/main.scss */
.sp-tabbar {
  display: none !important;
}

/* imports */
/* Header Styles */
/* line 4, ../sass/_header.scss */
#header {
  background-color: #222326;
  max-height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  border-bottom: 1px solid #5e6069;
  min-height: 60px;
}
/* line 16, ../sass/_header.scss */
#header .header-text a {
  color: #dfe0e6;
}
/* line 21, ../sass/_header.scss */
#header .header-title {
  text-align: center;
  font-size: 3em;
  line-height: 60px;
}
/* line 27, ../sass/_header.scss */
#header .header-link {
  display: table;
  position: absolute;
  min-height: 30px;
  height: 30px;
  top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #313336;
  margin-left: 10px;
}
/* line 40, ../sass/_header.scss */
#header .header-link a {
  display: table-cell;
  vertical-align: middle;
}
/* line 45, ../sass/_header.scss */
#header .header-link:after {
  content: url(../img/external_link-tiny-gray.png);
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-left: 5px;
  margin-top: -5px;
}
@media (max-width: 500px) {
  /* line 27, ../sass/_header.scss */
  #header .header-link {
    display: none;
  }
}

/* line 3, ../sass/_settings.scss */
#settings {
  position: absolute;
  z-index: 2;
  top: 65px;
  right: 10px;
  color: #dfe0e6;
}
/* line 11, ../sass/_settings.scss */
#settings .settings-btn {
  float: right;
  width: 20px;
  height: 20px;
  margin: 10px 4px 10px 0;
  opacity: 0.8;
  background: url(../img/settings.png) no-repeat;
  background-size: cover;
}
/* line 22, ../sass/_settings.scss */
#settings .settings-btn:hover {
  cursor: pointer;
}
/* line 26, ../sass/_settings.scss */
#settings .settings-btn.opened {
  opacity: 1;
}
/* line 30, ../sass/_settings.scss */
#settings .settings-btn:active {
  -webkit-transform: scale(0.9, 0.9);
}
/* line 35, ../sass/_settings.scss */
#settings .settings-form {
  display: none;
  position: relative;
  float: right;
  opacity: 0.9;
  padding: 10px 6px;
  background-color: #222326;
  border-radius: 2px;
  border-width: 1px;
  border-color: #3e3e40;
  border-style: solid;
}
/* line 49, ../sass/_settings.scss */
#settings .settings-form .tri {
  position: absolute;
  top: -5px;
  right: 8px;
  width: 10px;
  height: 10px;
  background-color: #222326;
  border-radius: 2px;
  border-width: 1px;
  border-color: #3e3e40 transparent transparent #3e3e40;
  border-style: solid;
  -webkit-transform: rotate(45deg);
}
/* line 66, ../sass/_settings.scss */
#settings .settings-form .option {
  overflow: auto;
}
/* line 69, ../sass/_settings.scss */
#settings .settings-form .option:not(.first-child) {
  margin-top: 5px;
}
/* line 73, ../sass/_settings.scss */
#settings .settings-form .option label {
  float: left;
  margin-right: 5px;
}
/* line 77, ../sass/_settings.scss */
#settings .settings-form .option input {
  padding: 2px;
  width: 30px;
  float: right;
  background-color: #222326;
  border-width: 1px;
  border-color: #3e3e40;
}
/* line 85, ../sass/_settings.scss */
#settings .settings-form .option input[name=treemode] {
  margin-top: 5px;
  margin-left: 5px;
}

/* line 2, ../sass/_eqbar.scss */
meter {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(90deg, #8bcf69 5%, #e6d450 5%, #e6d450 15%, #f28f68 15%, #f28f68 55%, #cf82bf 55%, #cf82bf 95%, #719fd1 95%, #719fd1 100%);
  background-size: 100% 100%;
  -webkit-transform: rotate(-90deg);
}

/* line 21, ../sass/_eqbar.scss */
#eqbar_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
}

/* line 34, ../sass/_eqbar.scss */
#eqbar {
  margin: 0 auto;
  width: 448px;
  height: 60px;
  opacity: 0.05;
  overflow: hidden;
}
/* line 41, ../sass/_eqbar.scss */
#eqbar canvas {
  height: 60px;
  width: 100%;
}
/* line 46, ../sass/_eqbar.scss */
#eqbar .bar {
  float: left;
  width: 3px;
  min-height: 1px;
  max-height: 60px;
  background-color: #dfe0e6;
  margin-right: 1px;
}

/* line 4, ../sass/_tracklist.scss */
#tracklist {
  opacity: 0.9;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 51px;
  border-top: 1px solid #3e3e40;
  background-color: #222326;
  color: #dfe0e6;
}
/* line 18, ../sass/_tracklist.scss */
#tracklist .column {
  float: left;
}
/* line 22, ../sass/_tracklist.scss */
#tracklist .right-content {
  padding: 1px 5px;
}
/* line 26, ../sass/_tracklist.scss */
#tracklist #tracklist_list {
  position: relative;
  height: 100%;
  max-width: calc(100% - 50px);
  overflow: hidden;
}
/* line 35, ../sass/_tracklist.scss */
#tracklist .list-track {
  display: inline-block;
  padding: 2px 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 1px;
  background-color: #2e2f33;
  border-color: #3e3e40;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}
/* line 50, ../sass/_tracklist.scss */
#tracklist .list-track:hover {
  opacity: 0.95;
}
/* line 54, ../sass/_tracklist.scss */
#tracklist .list-track:active {
  border-color: #7fb701;
  -webkit-transform: scale(0.98, 0.98);
}
/* line 59, ../sass/_tracklist.scss */
#tracklist .list-track a {
  color: #dfe0e6;
}

/* line 1, ../sass/_artistmenu.scss */
#artistmenu {
  position: absolute;
  left: 0;
  top: 20%;
  width: 151px;
  opacity: 0.9;
  background-color: #222326;
  border-color: #3e3e40;
  border-width: 1px;
  border-style: solid;
  border-left: 0;
  color: #dfe0e6;
}
/* line 19, ../sass/_artistmenu.scss */
#artistmenu .artist-info-field {
  margin: 5px;
}
/* line 23, ../sass/_artistmenu.scss */
#artistmenu #artist_albums {
  width: 120px;
  margin: 5px auto;
}
/* line 27, ../sass/_artistmenu.scss */
#artistmenu #artist_albums .artist-album {
  display: inline-block;
  margin: 5px;
}
/* line 33, ../sass/_artistmenu.scss */
#artistmenu #artist_controls {
  display: none;
  width: 100%;
}
/* line 37, ../sass/_artistmenu.scss */
#artistmenu #artist_controls .control:first-child {
  margin-top: 10px;
}
/* line 40, ../sass/_artistmenu.scss */
#artistmenu #artist_controls .control {
  background-color: #2e2f33;
  max-width: 80%;
  border-color: #3e3e40;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  margin: 10px auto;
  border-radius: 1px;
  cursor: pointer;
  text-align: center;
}
/* line 53, ../sass/_artistmenu.scss */
#artistmenu #artist_controls .control#control_expand, #artistmenu #artist_controls .control#control_delete {
  display: none;
}
/* line 57, ../sass/_artistmenu.scss */
#artistmenu #artist_controls .control:hover {
  opacity: 0.95;
}
/* line 61, ../sass/_artistmenu.scss */
#artistmenu #artist_controls .control:active {
  border-color: #7fb701;
  -webkit-transform: scale(0.98, 0.98);
}
