#artistmenu {
  z-index: 1;
  position: absolute;
  left: 0;
  top: $header-height + 50px;

  width: 126px;

  @include menubox();
  border-left: 0;

  color: $new-white;

  .artist-info-field {
    margin: 5px;
  }

  #artist_albums {
    width: 120px;
    margin: 5px auto;
    text-align: center;

    .artist-album {
      display: inline-block;
      margin: 0px 3px;
    }
  }

  #artist_tags {
    width: 120px;
    margin: 5px auto;
    text-align: center;
    overflow: hidden;

    .artist-tag {
      display: inline-block;
      margin: 1px;

      @include label();
    }
  }

  #artist_controls {
    display: none;
    width: 100%;
    
    .control:first-child {
      margin-top: 10px;
    }
    .control {
      max-width: 80%;

      @include label();
      padding: 4px;

      @include clickableBtn();

      margin: 10px auto;

      &#control_expand {
        display: none;
      }

    }
  }
}