#artistmenu {
  // display: none;

  position: absolute;
  left: 0;
  top: 20%; // $header-height + 20px;

  height: 60%;
  width: 151px;

  opacity: 0.9;
  background-color: $new-bg;
  border-color: $border-color;
  border-width: 1px;
  border-style: solid;
  border-left: 0;
}