#artistmenu {

  position: absolute;
  left: 0;
  top: $header-height + 20px;

  width: 126px;

  opacity: 0.9;
  background-color: $new-bg;
  border-color: $border-color;
  border-width: 1px;
  border-style: solid;
  border-left: 0;

  color: $new-white;

  .artist-info-field {
    margin: 5px;
  }

  #artist_albums {
    width: 120px;
    margin: 5px auto;
    text-align: center;

    .artist-album {
      display: inline-block;
      margin: 0px 3px;
    }
  }

  #artist_tags {
    width: 120px;
    margin: 5px auto;
    text-align: center;
    overflow: hidden;

    .artist-tag {
      display: inline-block;
      margin: 1px;

      background-color: $new-bg-lighter;
      border-color: $border-color;
      border-width: 1px;
      border-style: solid;
      border-radius: 1px;
      padding: 2px 4px;
      text-align: center;
    }
  }

  #artist_controls {
    display: none;
    width: 100%;
    
    .control:first-child {
      margin-top: 10px;
    }
    .control {
      max-width: 80%;

      background-color: $new-bg-lighter;
      border-color: $border-color;
      border-width: 1px;
      border-style: solid;
      border-radius: 1px;
      padding: 4px;
      text-align: center;

      margin: 10px auto;
      cursor: pointer;

      &#control_expand, &#control_delete {
        display: none;
      }

      &:hover {
        opacity: 0.95;
      }

      &:active {
        border-color: $green1;
        -webkit-transform: scale(0.98, 0.98);
      }
    }
  }
}