#eqbar {
  position: absolute;
  height: $header-height;
  width: 100%;
  opacity: 0.05;
  overflow: hidden;
  top: 0;
  z-index: 1;

  text-align: center;

  canvas {
    height: $header-height;
    display: inline-block;
  }
}
