

#settings {
  position: absolute;
  z-index: 2;
  bottom: $tracklist-height + 20px;
  right: 10px;

  color: $new-white;
  
  .settings-btn {
    float: right;

    width: 20px;
    height: 20px;
    margin: 10px 4px 10px 0;
    opacity: 0.8;

    background: url(../img/settings.png) no-repeat;
    background-size: cover;

    &:hover {
      cursor: pointer;
    }

    &.opened {
      opacity: 1;
    }

    &:active {
      -webkit-transform: scale(0.9, 0.9);
    }
  }

  .settings-form {
    display: none;
    position: relative;
    float: right;
  
    padding: 10px 6px;

    @include menubox();
    border-radius: 2px;

    .tri {
      position: absolute;
      top: -5px;
      right: 8px;

      width: 10px;
      height: 10px;
      
      background-color: $new-bg;
      border-radius: 2px;
      border-width: 1px;
      border-color: $border-color transparent transparent $border-color;
      border-style: solid;

      -webkit-transform: rotate(45deg);
    }

    .option {
      overflow: auto;

      &:not(.first-child) {
        margin-top: 5px;
      }

      label {
        float: left;
        margin-right: 5px;
      }
      input {
        padding: 2px;
        width: 30px;
        float: right;
        background-color: $new-bg;
        border-width: 1px;
        border-color: $border-color;

        &[name=treemode] {
          margin-top: 5px;
          margin-left: 5px;
        }
      }
      
    }
  }
}
