#tagsmenu_wrapper {
  position: absolute;
  top: $header-height - 1;
  height: auto;
  width: 100%;

  text-align: center;
}

#tagsmenu {
  display: inline-block;

  padding: 5px;

  @include menubox();

  .common-tag {
    @include label();

    margin: 1px;
  }
}