#tagsmenu_wrapper {
  position: absolute;
  top: $header-height - 1;
  height: auto;
  width: 100%;

  text-align: center;
}

#tagsmenu {
  display: inline-block;

  color: $new-white;
  padding: 5px;

  @include menubox();

  .common-tag {
    @include label();
    @include clickableBtn();
    margin: 1px;
    display: inline-block;

    &.selected {
      border-color: $green2;
    }
  }
}