$tracklist-height: 50px;
$width: $tracklist-height; // omg its a square

#tracklist {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: $tracklist-height + 1px;
  color: $new-white;

  @include menubox();
  border-bottom-width: 0;

  .column {
    float: left;
  }

  .right-content {
    padding: 1px 5px;
  }

  #tracklist_list {
    position: relative;
    
    height: 100%;
    max-width: calc(100% - #{$width});

    overflow: hidden;
  }

  .list-track {
    display: inline-block;

    padding: 2px 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 1px;

    background-color: $new-bg-lighter;
    border-color: $border-color;
    border-width: 1px;
    border-style: solid;

    cursor: pointer;

    &:hover {
      opacity: 0.95;
    }

    &:active {
      border-color: $green1;
      -webkit-transform: scale(0.98, 0.98);
    }

    a {
      color: $new-white;
    }
  }
}