#artistmenu {
  // display: none;

  position: absolute;
  left: 0;
  top: 15%;

  height: 50%;
  width: 100px;

  opacity: 0.9;
  background-color: $new-bg;
  border-color: $border-color;
  border-top-color: none;
  border-width: 1px;
  border-style: solid;
  border-left: 0;
}