@import "spotify";
@import "github";

@import url(http://fonts.googleapis.com/css?family=Ruda);

/* overrides */
body, html {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

$bg-color: #ecebe8;

$header-height: 60px;
$tabs-height: 34px;
$content-height: calc(100% - #{$header-height} - #{$tabs-height});

#view_container {
  height: $content-height;
  
  .view {
    height: 100%;
  }
}

.settings {
  display: none;

  position: fixed;
  z-index: 2;
  right: 0;
  background: transparent;

  .settings-btn {
    display: block;
    background: url("../img/settings.png");
    width: 50px;
    height: 50px;
  }
}

/* imports */
@import "header";
@import "now_playing";
