@import "spotify";
@import "github";

*, *:before, *:after {
  box-sizing: border-box;
}

$bg-color: #ecebe8;
$bg-dark: #474747;
$bg-light: #6b6b6b;

$new-bg: #222326;
$new-bg-lighter1: #2e2f33;
$new-bg-lighter: $new-bg-lighter1;
$new-bg-lighter2: #313336;
$new-bg-darker: #1c1c1f;
$new-white: #dfe0e6;
$border-color: #3e3e40;

$green1: #7fb701;
$green2: #95dc00;

$font-color: #a1a3a6;

$header-height: 60px;
$tabs-height: 34px;
$content-height: calc(100% - #{$header-height});

/* overrides */
body, html {
  margin: 0;

  height: 100%;

  color: $font-color;

  overflow: hidden;
}

a {
  text-decoration: none;
}

#view_container {
  position: relative;
  height: 100%; // $content-height;
  overflow: hidden;
  background-color: $new-bg-darker;
  
  .view {
    height: 100%;
  }
}

.sp-throbber-background {
  background-color: $bg-color;
}

.sp-tabbar {
  display: none !important;
}

/* imports */
@import "header";
@import "settings";
@import "eqbar";
@import "tracklist";
@import "artistmenu";