<div id="tracklist_cover" class="column"></div>
<div id="tracklist_list" class="column">
  <div id="list_title" class="right-content">
    Playing Next...
  </div>
  <div id="list_items" class="right-content">
    
  </div>
</div>
<!-- 
<div id="tracklist_list" class="column">
  <div id="list_title" class="right-content">More from Dubmood</div>
  <div id="list_items" class="right-content"><span class="list-track">Monkey Island</span><span class="list-track">Toffelskater</span><span class="list-track">Chiptune</span><span class="list-track">Mario Airlines - Razor1911 Keygen Edit</span><span class="list-track">Toffelskater - 2007 Remix</span><span class="list-track">Razor Fairlight Chip 001 feat Bliss</span></div>
</div> -->