<div id="tracklist_cover" class="column"></div>
<div id="tracklist_list" class="column">
  <div id="list_title" class="right-content">
    Playing Next...
  </div>
  <div id="list_items" class="right-content">
    
  </div>
</div>
<!-- 
<div id="tracklist"><div id="tracklist_cover" class="column"><div class="sp-image sp-image-animated sp-image-style-plain sp-image-loaded" draggable="true" data-tooltip="Kubbi" data-uri="spotify:artist:38dW24ZxoRfXGe1lJXXFNg" style="width: 50px; height: 50px;"><div class="sp-image-wrapper"><div class="sp-image-img" style="background-image: url(spotify:image:51f65c829f2277002fc0ad412322588050008558);"></div></div><div class="sp-image-placeholder sp-image-placeholder-visible sp-image-placeholder-hidden" style="background-size: 903.125% 2343.75%; background-position: 58.36575875486382% 31.337047353760447%;"></div></div></div>
<div id="tracklist_list" class="column">
  <div id="list_title" class="right-content">More from Kubbi</div>
  <div id="list_items" class="right-content"><span class="list-track"><a href="spotify:track:22rWFmpUGPSAqQ5yLTWfyO">4 Repeating Chords</a></span><span class="list-track"><a href="spotify:track:2t5dMpHhvGqEQ06WoiF2SF">Up In My Jam (All Of A Sudden)</a></span><span class="list-track"><a href="spotify:track:0DfixtWb86OKj9MBR65vpz">PewPewPew</a></span><span class="list-track"><a href="spotify:track:3heGkGAieBienJAesGO2BT">Juggernaut</a></span><span class="list-track"><a href="spotify:track:4Fhe7bmvwGpv5VMSMIepYP">Bright Matter</a></span><span class="list-track"><a href="spotify:track:2HuK9OnRnu1EIv6reQBT6f">Seahorse Dreams</a></span></div>
</div></div> -->