/* Banner Styles */

$banner-height: 60px;

#banner_wrap {
  background-color: #333;
  max-height: $banner-height;
  position: relative;

  width: 100%;
  height: $banner-height;


  .banner-text {
    a {
      color: #bbb;
    }
    
  }

  .banner {
    text-align: center;
    font-size: 3em;

  }

  .banner-link {
    display: table;
    position: absolute;
    min-height: 30px;
    height: 30px;

    top: 25%;

    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    margin-left: 10px;

    a {
      display: table-cell;
      vertical-align: middle;
    }

    &:after {
      content: url(../img/external_link-tiny-gray.png);

      display: inline-block;
      
      height: 9px;
      width: 9px;
      margin-left: 5px;
      margin-top: -5px;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }
}

