@import "spotify";
@import "github";

@import url(http://fonts.googleapis.com/css?family=Ruda);

/* overrides */
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
 }

a {
  text-decoration: none;
}

#main_container {
  padding: 20px;
}


/* imports */
@import "banner";
@import "now_playing";
