@import "spotify";
@import "github";

@import url(http://fonts.googleapis.com/css?family=Ruda);

/* overrides */
body {
  margin: 0;
}

a {
  text-decoration: none;
}

#main_container {
  padding: 20px;
}


/* imports */
@import "banner";
@import "now_playing";
